// reset "button" e "a"
a.btns{display: inline-block;}
button.btns{
    cursor: pointer;
    border: none;
    &:focus{
        outline: none;
    }
}
.btns{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;//semibold;
    font-size: 14px;
    line-height: 20px;
    padding: 11px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    @media (min-width: $desktops) {
        font-size: 18px;
        line-height: 27px;
    }
    &.primary{
        background-color: $primary;
        color: white;
        box-shadow: 2px 2px 4px #CCE0DF;
            transition: all $transition;
        &:hover{
            box-shadow: 4px 4px 4px #CCE0DF;
            transform: translate(-2px, -2px);
        }
    }
    &.outlineprimary{
        background-color: white;
        color: $primary;
        border: solid $primary 3px;
        box-shadow: 2px 2px 4px #CCE0DF;
        transition: all $transition;
        &:hover{
            box-shadow: 4px 4px 4px #CCE0DF;
            transform: translate(-2px, -2px);
        }
    }
    &.secondary{
        background-color: $secondary;
        color: white;
        box-shadow: 2px 2px 4px #F8EDD2;
        transition: all $transition;
        &:hover{
            box-shadow: 4px 4px 4px #F8EDD2;
            transform: translate(-2px, -2px);
        }
    }
    &.outlinesecondary{
        background-color: white;
        color: $secondary;
        border: solid $secondary 3px;
        box-shadow: 2px 2px 4px #F8EDD2;
        transition: all $transition;
        &:hover{
            box-shadow: 4px 4px 4px #F8EDD2;
            transform: translate(-2px, -2px);
        }
    }
}
