.color-p{
    color: $primary;
}
.color-p-dark{
    color: $primaryDark;
}
.color-p-light{
    color: $primaryligth;
}
.color-s{
    color: $secondary;
}
.color-s-dark{
    color: $secondaryDark;
}
.color-s-light{
    color: $secondaryligth;
}
.bg-white{
    background-color: white;
}
.bg-p{
    background-color: $primary;
}
.bg-p-dark{
    background-color: $primaryDark;
}
.bg-p-light{
    background-color: $primaryligth;
}
.bg-s{
    background-color: $secondary;
}
.bg-s-dark{
    background-color: $secondaryDark;
}
.bg-s-light{
    background-color: $secondaryligth;
}