footer{
    padding: 30px 0 90px;
    svg{
        margin-bottom: 30px;
    }
    h2, .t2{
        margin-bottom: 15px;
        text-align: left;
    }
    *{
        color: white;
    }
}