input, textarea, label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: $primaryDark;
    display: block;
    width: 100%;
}
input, textarea{
    padding: 7px 15px;
    border-radius: 5px;
    background-color: white;
    border: 3px solid $secondary;
    &:focus{
        outline: none;
    }
    box-shadow: 2px 2px 4px #F8EDD2;
    transition: all $transition;
    &:hover{
        box-shadow: 4px 4px 4px #F8EDD2;
        transform: translate(-2px, -2px);
    }
}
label{
    margin-bottom: 10px;
}
input{
    margin-bottom: 30px;
    &:last-child{
        @media (min-width: $desktops) {
            margin-bottom: 0;
        }
    }
}