.input, textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 27px;
    padding: 11px, 30px;
    border-radius: 5px;
    background-color: white;
    color: $secondaryDark;
    box-shadow: 2px 2px 4px #F8EDD2;
}