nav{
    & > div{
        display: flex;
    }
    svg{
        margin: auto 0;
    }
    ul{
        display: flex;
        margin-left: auto;
        list-style: none;
        li{
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            line-height: 27px;
            text-transform: uppercase;
            margin: 17px 0;
            &:first-child{
                margin-left: auto;
            }
            &:not(:first-child){
                padding-left: 20px;
                border-left: solid 2px white;
            }
            &:not(:last-child){
                padding-right: 20px;
            }
            // wordpress add 'current-menu-item' class to current page
            &.current-menu-item, &:hover{
                a{
                    border-bottom: solid 3px $primary;
                }
            }
            a{
                color: white;
                // for hover
                border-bottom: solid 0px $primary;
                transition: all .2s;
            }
        }
    }
}