section{
    &.title-card-buttom{
        padding: 60px 0;
        h2{
            text-align: center;
            margin-bottom: 60px;
        }
        .row a.btns.center{
            margin: 60px auto 0;
        }
        &.bgsvg{
            position: relative;
            padding: 0;
            overflow: hidden;
            z-index: 1;
            > svg{
                position: absolute;
                z-index: -1;
            }
            .content{
                padding-top: 60px;
                padding-bottom: 60px;
                *{
                    z-index: 2;
                }
                > h2{
                    text-align: center;
                    margin-bottom: 60px;
                }
                .row a.btns.center{
                    margin: 60px auto 0;
                }
            }
        }
    }
    &.cta{
        padding: 60px 0;
        .t1, h2, .t2{
            text-align: center;
            margin-bottom: 30px;
        }
        p{
            text-align: center;
            @media (min-width: $desktops) {
                max-width: 600px;
                margin: 10px auto;
            }
            &:last-child{
                margin-bottom: 30px;
            }
        }
        .row a.btns.center{
            margin: 30px auto 0;
        }
    }
    &.formContact{
        padding: 60px 0;
        textarea{
            height: 245px;
        }
        .btns.center{
            margin: 30px auto 0;
            @media (min-width: $desktops) {
                margin: 60px auto 0;
            }
        }
    }
    &.pageContent, &.blogContent{
        margin-bottom: 30px;
        h2, h3, h4, h5{
            text-align: left;
            margin: 20px 0;
        }
        img{
            margin-bottom: 15px;
            width: 100%;
            height: auto;
            @media (min-width: $desktops) {
                margin-bottom: 30px;
                border-radius: 5px;
            }
        }
    }
}