h1, .t1, h2, .t2, h3, .t3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;//semibold
    color: $primaryDark;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: $primaryDark;
    font-size: 18px;
    line-height: 21px;
}
h3, .t3{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}
h2, .t2{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
h1, .t1{
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}