//variables
$primary: #00645F;
$secondary: #AC9969;
$primaryDark: #002927;
$secondaryDark: #272216;
$primaryligth: #EBFFFE;
$secondaryligth: #F1EDE5;

//breakpoints
$smartphones: 575.98px;
$tablets: 767.98px;
$desktops: 991.98px;
$largeDesktops: 1199.98px;
$hdDesktops: 1440.98px;
$fullHdDesktops: 1919.98px;
$desktops4k: 2999.98; //3840px;

$transition: .2s;